/*** GLOBAL PAGE LAYOUT ***/

#toc {
   position: absolute;
   top: 0px;
   left: 0px;
   width: 150px;
   padding: 4px;
}

#content{
   min-height: 350px;
   margin-top: 12px;
   margin-right: 112px;
   margin-left: 201px;
   margin-left: 20px;
   padding: 10px 20px 20px 20px;
}

BODY {
	margin-left: 20px;
	margin-top: 10px;
	margin-right: 20px;
	margin-bottom: 20px;
	font-family: "Lucida Sans Unicode", "Lucida Sans", Arial,  sans-serif;
	font-size: 12px;
	color: #222222;
	background-color: #fff;
	height: 100%;
	text-align: justify;
   /*width: 90%;*/
}

/*** PAGE SUBSECTION STYLING ***/

DIV.subsection {
   margin-bottom: 60px;
}

DIV.subsection PRE, DIV.subsection IMG {
   margin-left: 40px;
}

/*** TOC STYLING ***/

DIV.toc-section {
   margin-bottom: 40px;
}

DIV.toc-section DIV.body {
   margin-left: 20px;
}

/*** HEADER, ANCHOR & CODE STYLING ***/

H1, H2, H3, H4, H5, H6 {
	font-variant: small-caps;
	font-weight: lighter;
	color: #444;
}

H1, .end-of-page, .page-section {
   border-bottom: 2px solid grey;
   padding-bottom: 8px;
}

A {
	color: #2222aa;
	text-decoration: none;
}

A:hover {
	text-decoration: underline;
}

CODE, CODE.variable, TD.duration-interface-attribute {
	color: #a22222;
	font-family: "Courier New", "Courier", serif;
}

CODE.variable {
   font-style: italic;
}

/*** TABLE STYLING ***/

TABLE {
	font-size: 12px;
   margin-left: 40px;
}

TD {
   text-align: center;
}

TD.euro-pitch-name {
   text-align: left;
}

TD.first-column-accidental {
   text-align: right;
}

TD.accidental-abbreviation {
   text-align: left;
   padding-left: 20px;
}

TD.second-column-accidental {
   width: 140px;
   text-align: right;
}

TD.us-pitch-name {
   width: 80px;
}

TD.duration-interface-attribute {
   text-align: right;
}

TR#abjad-classes TD {
   padding-bottom: 10px;
}

TD.abjad-class {
   width: 80px;
}

TD.key-rhs {
   text-align: left;
}

TABLE.key {
   font-size: 10px;
}

CAPTION {
   caption-side: bottom;
   font-size: 10px;
   font-style: oblique;
}

/*** PUBLIC INTERFACE STYLING ***/

DIV.interface {
   margin-bottom: 60px;
}

DIV.interface DIV.block {
   margin-bottom: 10px;
}

DIV.interface DIV.block DIV.name {
   margin-top: 3px;
   margin-bottom: 3px;
}

DIV.interface DIV.block DIV.attribute {
	font-family: "Courier New", "Courier", serif;
   padding: 0px;
   margin: 0px;
   margin-left: 30px;
   margin-bottom: 3px;
   margin-top: 3px;
}

DIV.interface DIV.block DIV.attribute DIV.local A {
	color: #a22222;
}

DIV.interface DIV.block DIV.attribute DIV.inherited A {
	color: grey;
}

/*** INTERFACE DEFINITION STYLING ***/

DIV.definition {
   margin-bottom: 60px;
}

DIV.definition DIV.header DIV.attribute A {
	font-family: "Courier New", "Courier", serif;
	font-weight: bold;
   font-size: 16px;
}

DIV.definition DIV.header DIV.attribute A:hover {
   text-decoration: none;
}

DIV.definition DIV.header DIV.attribute DIV.local A {
   color: #a22222;
}

DIV.definition DIV.header DIV.attribute DIV.inherited A {
   color: grey;
}

DIV.definition DIV.body {
   margin-left: 40px;
}

/*** COMMENTS, TO-DO STYLING ***/

DIV.comments {
   margin-bottom: 60px;
}

DIV.to-do {
   margin-bottom: 60px;
}

/*** INTRODUCTORY PARAGRAPH STYLING ***/

DIV.introduction {
   margin-bottom: 60px;
}

/*** ABJAD SNIPPET STYLING ***/

PRE, DIV.abjad {
	color: #a02222;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 10px;
	padding-right: 10px;
	border: 1px dotted #aaaaaa;
   text-align: left; 
}

/*** LILYPOND SNIPPET STYLING ***/

PRE.lilypond {
	color: #138012;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 10px;
	padding-right: 10px;
	border: 1px dotted #aaaaca;
   text-align: left; 
}
