[run]
branch = False
cover_pylib = False
include = 
    abjad/*
omit = 
    abjad/demos/*
    abjad/docs/*
    abjad/ly/*
    abjad/tools/*/test/*
    abjad/tools/test/*
    experimental/docs/*
    experimental/tools/*/test/*
    scoremanager/docs/*
    scoremanager/idetools/test/*
    scoremanager/scores/*
    scoremanager/test/*
    setup.py
source =
    abjad/*
    experimenta/*
    scoremanager/*