# builds
*.tar.gz
*.whl
build/
dist/

# docs
docs/build
docs/source/api
docs/source/_static/uqbar.css

# macOS
.DS_Store

# mypy
.mypy_cache/

# pytest
.cache/
.coverage
.pytest_cache/
htmlcov/

# python
*.egg
*.egg-info
*.manifest
*.py[cod]
*.spec
__pycache__
.env/
venv/
