include abjad/.version
include INSTALL
include README
include LICENSE
include ez_setup.py
include setup.py
include MANIFEST.in
recursive-include abjad *
recursive-exclude abjad/docs/_build *
recursive-exclude abjad *.pyc
