name: abjad

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:

    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ["3.10"]

    steps:
    - uses: actions/checkout@v2
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v2
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install LilyPond
      run: |
        lilypond_url=http://lilypond.org/download/binaries/linux-64/
        lilypond_source=lilypond-2.20.0-1.linux-64.sh
        wget -q -O /tmp/lilypond $lilypond_url/$lilypond_source
        sh /tmp/lilypond --batch
        echo $HOME
        echo "/home/runner/bin" >> $GITHUB_PATH
    - name: Upgrade pip
      run: |
        python -m pip install --upgrade pip coverage
    - name: Log environment variable(s)
      run: |
        echo $PATH
    - name: Install Abjad
      run: |
        pip install -e .[dev]
        # echo the configuration file path to debug read-only-filesystem handling
        python -c "import abjad; print(abjad.Configuration().configuration_file_path)"
        scr/prime-parser-tables
        black --version
        flake8 --version
        isort --version
        mypy --version
        pip --version
        pytest --version
        lilypond --version
    - name: Checks and Tests
      run: |
        make black-check
        make flake8
        make isort-check
        make mypy
        make pytest
