#toc {
   position: absolute;
   top: 0px;
   left: 0px;
   width: 150px;
   padding: 4px;
}

UL.horizontal-attribute-list {
   margin: 0px;
   padding: 0px;
}

UL.horizontal-attribute-list LI {
   display: inline;
   list-style-type: none;
	color: #a22222;
	font-family: "Courier New", "Courier", serif;
   padding-right: 20px;

}

DIV.example {
   margin-top: 60px
}

DIV.example P.example-header, DIV.example P.example-header-inherited {
	color: #a22222;
	font-family: "Courier New", "Courier", serif;
   /*background: #dcdcdc;*/
   /*border-bottom: 1px solid grey;*/
}

DIV.example P.example-header-inherited {
   color: gray;
}

DIV.attribute-group {
	border: 1px dotted #aaaaaa;
   margin-top: 2px;
}
   
DIV.interface-block {
	/*border: 1px dotted #aaaaaa;*/
}

DIV P.interface-block-header {
   margin-left: 0px;
   margin-top: 20px;
}

DIV P.interface-attribute, DIV P.interface-attribute-inherited {
	color: #a22222;
	font-family: "Courier New", "Courier", serif;
   /*border: 1px dotted;*/
   padding: 0px;
   margin: 0px;
   margin-left: 30px;
   margin-bottom: 2px;
   margin-top: 2px;
}

DIV P.interface-attribute-inherited {
   /*color: #f77777;*/
   color: gray;
}

/* Where did these values come from? TB */
#content{
   min-height: 350px;
   margin-top: 12px;
   margin-right: 112px;
   margin-left: 201px;
   margin-left: 20px;
   padding: 10px 20px 20px 20px;
 
}

TABLE {
	font-size: 12px;
   margin-left: 40px;
}

TD {
   text-align: center;
}

TD.euro-pitch-name {
   text-align: left;
}

TD.first-column-accidental {
   text-align: right;
}

TD.accidental-abbreviation {
   text-align: left;
   padding-left: 20px;
}

TD.second-column-accidental {
   width: 140px;
   text-align: right;
}

TD.us-pitch-name {
   width: 80px;
}

TD.duration-interface-attribute {
   text-align: right;
}

TR#abjad-classes TD {
   padding-bottom: 10px;
}

TD.abjad-class {
   width: 80px;
}

TD.key-rhs {
   text-align: left;
}

TABLE.key {
   font-size: 10px;
}

CAPTION {
   caption-side: bottom;
   font-size: 10px;
   font-style: oblique;
}

BODY {
	margin-left: 20px;
	margin-top: 10px;
	margin-right: 20px;
	margin-bottom: 20px;
	font-family: "Lucida Sans Unicode", "Lucida Sans", Arial,  sans-serif;
	font-size: 12px;
	color: #222222;
	background-color: #fff;
	height: 100%;
	text-align: justify;
   /*width: 90%;*/
}

H1, H2, H3, H4, H5, H6 {
	font-variant: small-caps;
	font-weight: lighter;
	color: #444;
}

H1, .end-of-page, .page-section {
   border-bottom: 2px solid grey;
   padding-bottom: 10px;
}

H2 {
   margin-top: 60px;
}

A {
	color: #2222aa;
	text-decoration: none;
}

A:hover {
	text-decoration: underline;
}

CODE, TD.duration-interface-attribute {
	color: #a22222;
	font-family: "Courier New", "Courier", serif;
}

DL.interface-definition UL LI {
	color: #a22222;
	font-family: "Courier New", "Courier", serif;
}

IMG {
	margin-left: 25px;
   margin-bottom: 40px;
}

.inline {
   margin-bottom: 10px;
}

PRE, DIV.abjad {
	color: #a02222;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 10px;
	padding-right: 10px;
	border: 1px dotted #aaaaaa;
   text-align: left;
}

.comment, .to-do {
   margin-bottom: 20px;
}

.spacer, .footer {
   margin-top: 60px;
}

.half-spacer {
   margin-top: 40px;
}

.third-spacer {
   margin-top: 20px;
}

.toc {
   padding-left: 10px;
}

.footer {
   border-top: 2px solid gray;
   padding-top: 10px;
}

.end-of-page {
   margin-top: 60px;
}

DL.interface-definition {
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 10px;
	padding-right: 10px;
	border: 1px dotted #aaaaaa;
   text-align: left;
}

/*
DL.interface-definition DT {
	font-family: "Courier New", "Courier", serif;
}
*/

DL.interface-definition UL {
   padding-left: 0px;
   list-style-type: none;
}

DL.interface-definition UL LI.inherited {
   color: grey;
	//background-color: grey;
}
