#toc {
   position: absolute;
   top: 0px;
   left:0px;
   width: 150px;
   padding:4px;
}

#content{
   min-height: 350px;
   margin-top:12px;
   margin-right:2px;
   margin-left: 201px;
   padding: 10px 20px 20px 20px;
 
}

body {
	margin-left: 20px;
	margin-top: 10px;
	margin-right: 20px;
	margin-bottom: 20px;
	font-family: "Lucida Sans Unicode", "Lucida Sans", Arial,  sans-serif;
	font-size: 12px;
	color: #222222;
	background-color: #fff;
	height:100%;
	text-align: justify;
   /*width: 90%;*/
}

h1,h2,h3,h4,h5,h6 {
	font-variant: small-caps;
	font-weight: lighter;
	color: #444;
}

a {
	color: #2222aa;
	text-decoration:none;
}

a:hover {
	text-decoration:underline;
}

code {
	color: #a22222;
	font-family: "Courier New", "Courier", serif;
}

img {
	margin-left: 25px;
   margin-bottom: 40px;
}

.inline {
   margin-bottom: 10px;
}

pre {
	color: #a02222;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 10px;
	padding-right: 10px;
	border:1px dotted #aaaaaa;
}

.commentary {
   margin-bottom: 20px;
}

.spacer {
   margin-top: 60px;
}

.half-spacer {
   margin-top: 40px;
}

.third-spacer {
   margin-top: 20px;
}

.toc {
   padding-left: 10px;
}
